@using TheAncientMerch.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                  <img class="img-responsive" style="width: 200px"  src="~/images/logo/logo1.jpg" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="navbar-nav flex-grow-1">
                        <div class="dropdown">
                            <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                Home
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </div>
                      @if (this.User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                    Account
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item " asp-area="" asp-controller="Accounts" asp-action="MyAccount" asp-route-id="" >My Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="PaymentsHistory">Payments history</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="MySculptures">My Sculptures</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                    Sculptures
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Sculptures" asp-action="All">All</a>
                                    <a class="dropdown-item " asp-area="" asp-controller="Search" asp-action="SearchSculpture">Search for Sculpture</a>
                                    <a class="dropdown-item " asp-area="" asp-controller="Sculptures" asp-action="Create">Create</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                    Articles
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="All">All Articles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchArticle">Search for Article</a>
                                    <a class="dropdown-item " asp-area="" asp-controller="Articles" asp-action="Categories" asp-route-id="" >Article Categories</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Create">Create Article</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                    Deities
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Deities" asp-action="Gods">Gods</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Deities" asp-action="Titans">Titans</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchDeity">Search for deity</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn" type="button" id="dropdownMenuButton"  data-toggle="dropdown">
                                    Discussion
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item " asp-area="" asp-controller="Forums" asp-action="Categories" asp-route-id="" >Forum</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Forums" asp-action="Create">Create Category</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
