

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@Model.FirstPageNumber"
            asp-route-SculptureType="@Model.SculptureType"
            asp-route-Material="@Model.Material"
            asp-route-Color="@Model.Color"><strong>First</strong></a>
        </li>
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@Model.PreviousPageNumber"
            asp-route-SculptureType="@Model.SculptureType"
            asp-route-Material="@Model.Material"
            asp-route-Color="@Model.Color"><strong>Previous</strong></a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@i"
                asp-route-SculptureType="@Model.SculptureType"
                asp-route-Material="@Model.Material"
                asp-route-Color="@Model.Color">@i</a></li>
            }

        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@i"
                asp-route-SculptureType="@Model.SculptureType"
                asp-route-Material="@Model.Material"
                asp-route-Color="@Model.Color">@i</a></li>
            }

        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@Model.NextPageNumber"
            asp-route-SculptureType="@Model.SculptureType"
            asp-route-Material="@Model.Material"
            asp-route-Color="@Model.Color"
           ><strong>Next</strong></a>
        </li>
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Sculptures" asp-action="All" asp-route-PageNumber="@Model.LastPageNumber"
            asp-route-SculptureType="@Model.SculptureType"
            asp-route-Material="@Model.Material"
            asp-route-Color="@Model.Color"><strong>Last</strong></a>
        </li>
    </ul>
</nav>