@using TheAncientMerch.Data.Models
@using TheAncientMerch.Web.ViewModels.Sculptures
@model CreateSculptureInputModel


@{
    ViewData["Title"] = "Create Sculpture";
}





<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-10 offset-xl-1 col-xl-10">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Sculpture Name">
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Url">
                    <span asp-validation-for="ImageUrl" class="text-danger small"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="Information about sculpture">
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>
                
                 <div class="form-group">
                    <label asp-for="Origin"></label>
                    <input asp-for="Origin" class="form-control" placeholder="Info from where the sculpture is.">
                    <span asp-validation-for="Origin" class="text-danger small"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Height"></label>
                    <input asp-for="Height" class="form-control" placeholder="0">
                    <span asp-validation-for="Height" class="text-danger small"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Width"></label>
                    <input asp-for="Width" class="form-control" placeholder="0">
                    <span asp-validation-for="Width" class="text-danger small"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Weigth"></label>
                    <input asp-for="Weigth" class="form-control" placeholder="0">
                    <span asp-validation-for="Weigth" class="text-danger small"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="MaterialId"></label>
                    <select asp-for="MaterialId" class="form-control">
                     @foreach (var material in Model.Materials)
                     {
                        <option value="@material.Id">@material.Name</option>
                     }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IsMale"></label>
                        <select asp-for="IsMale" class="form-control">
                            <option value="@null">Undefined</option>
                            <option value="@false">Female</option>
                            <option value="@true">Male</option>
                        </select>
                </div>
                <div class="form-group">
                   <label asp-for="SculptureType" ></label>
                     <select asp-for="SculptureType" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(SculptureType)))
                          {
                              <option value="@choice">@Enum.GetName(typeof(SculptureType), choice)</option>
                          }
                 </select>
                </div>
                <div class="form-group">
                     <label asp-for="Color" ></label>
                      <select asp-for="Color" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(SculptureColor)))
                        {
                            <option value="@choice">@Enum.GetName(typeof(SculptureColor), choice)</option>
                        }
                 </select>
                </div>
                <input type="submit" class="btn btn-info" value="@ViewData["Title"]" />
            </form>
        </div>
    </div>
</div>




