@using TheAncientMerch.Web.ViewModels.Sculptures
@model SculptureViewModel

@{
    ViewData["Title"] = Model.Name;
    var userId = this.User.GetId();
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Sculptures/All">All sculptures</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



<div class="container">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <img  src="@Model.ImageUrl" width="400"  height="400"  alt="" class="card rounded mx-auto d-block">
                <div class="post-content">
                    <hr/>
                    <h3 class="text-center">Description</h3>
                    <hr/>
                    <div class="container-md">@Model.Description</div>
                    
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase text-center font500">Origin</h4>
                      @Model.Origin
                    <hr class="mb40">
                </div>
            </article>

        </div>
        <div class="col-md-3 mb40">
            <div class="mb40">
                <h4 class="sidebar-title">Product information</h4>
                <ul class="list-unstyled categories">
                    <hr/>
                    <li class="item-description">
                      <strong>Name: </strong>@ViewData["Title"]
                    </li>
                    <hr/>
                     <li class="item-description">
                        <strong>Height: </strong>@Model.Height
                    </li>
                    <hr/>
                    <li class="item-description">
                        <strong>Width: </strong>@Model.Width
                    </li>
                    <hr/>
                    <li class="item-description">
                        <strong>Weigth: </strong>@Model.Weigth kg
                    </li>
                    <hr/>
                    <li class="item-description">
                        <strong>Price: </strong>$@Model.Price USD
                     </li>
                    <hr/>
                    <li>
                        
                        @if (userId == Model.UserId || User.IsInRole("Administrator"))
                        {
                            <div class="mb-1">
                              <div class="text-center pt-2">
                                <a  asp-controller="Sculptures" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary text-white">
                                    Edit
                                </a>
                              </div>
                              <div class="text-center pt-2">
                                    <form method="post" asp-controller="Sculptures" asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm"></form>
                                     <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                              </div>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                            <a type="button" 
                                asp-controller="Sculptures"
                                asp-action="Buy"
                                asp-route-id="@Model.Id"
                             class="btn btn-primary tests text-uppercase text-center">
                                    Buy
                            </a>
                            </div>
                        }
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to remove "@Model.Name" Sculpture ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

